<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier CD</title>
</head>
<body>
    <button><a href="{% url 'bibliothequaire' %}">Retour</a></button>
    <h1>Modifier un CD</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom" value="{{ cd.nom }}" required>
        <label for="artiste">Auteur</label>
        <input type="text" name="artiste" id="artiste" value="{{ cd.artiste }}" required>
        <input type="submit" value="Modifier">
    </form>
</body>
</html>